name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        run: dotnet restore ProbabilitesLotoEuroMillions.sln

      - name: Build
        run: dotnet build ProbabilitesLotoEuroMillions.sln --configuration Release --no-restore

      - name: Tests
        run: dotnet test ProbabilitesLotoEuroMillions.sln --configuration Release --no-build

      - name: Lint format
        run: dotnet format ProbabilitesLotoEuroMillions.sln --verify-no-changes --no-restore
